.item {
  display: flex;
  align-items: baseline;
  font-size: 22px;
  width: 300px;
}

.item > button {
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
}

.item > *:first-child {
  flex: 1;
}

.item > *:not(:first-child) {
  margin-left: 8px;
}

.item > .readonly {
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item > input {
  color: lightslategray;
  width: 100%;
  padding: 2px;
  font-family: inherit;
  font-size: inherit;
  border-color: transparent transparent darkred;
}
